<footer>
    <p class="copyright">  
        &copy; Copyright - <%= new Date().getFullYear() %> | All Rights Reserved <br /> 
        Made with 💖 in India.
    </p>
</footer>
<script src="/script.js"></script>
</body>
</html>